body {
    background-color: #f2f2f2;
    font-family: "Rubik";
    /* OPTIONAL: Google Fonts - base font */
    font-weight: 400;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik";
    /* OPTIONAL: Google Fonts - title font */
    font-weight: 500;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    text-align: justify;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1cbcad;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.header {
    background: url(../images/me-1.jpg) no-repeat center top;
    padding-top: 140px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1 {
    font-size: 80px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.header h3 {
    font-size: 20px;
    color: white;
}

.header h3 a {
    color: #fff;
}

/* About Wrap */
.about {
    background: #2c3e50;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.about h5,
p {
    color: white;
}

td {
    color: white;
    padding-right: 20px;
}

.about i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

.footer {
    background: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer p {
    color: white;
}

.footer h5 {
    color: white;
}

.footer t {
    font-weight: 700;
}

/* social icons: */
.footer i {
    padding-right: 8px;
    /*color: #1abc9c;*/
}

/* Global Values */

.desc {
    padding-top: 50px;
}

.desc p {
    color: #2f2f2f;
}

.desc t {
    color: #34495e;
    font-weight: 700;
}

.desc imp {
    padding: 6px;
    color: white;
    background: #34495e;
}

.desc more {
    color: #616669;
}

sm {
    font-size: 12px;
}

.desc .col-lg-3 {
    text-transform: uppercase;
}

.container .row p.tight {
    margin-bottom: 10px;
}

/* define some CSS3 animations: */
body {
    /* Addresses a small issue in webkit: https://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#about {
    text-align: justify-all;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* 1 */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/*Post initial commit additions*/
.social-icon {
    font-size: 72px;
}

.social-icon-2 {
    font-size: 36px;
    color: white;
}

#heading-name {
    font-size: 105px;
    text-shadow: 2px 2px #000000;
}

#heading-desc {
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}

.tab {
    overflow: hidden;
    background-color: inherit;
}

.tab button{
    background-color: #2c3e50;
    float: center;
    border: solid;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
}

.tab button:hover{
    background-color: white;
    color: #1cbcad;
}

.closeSkill {
    text-align: right;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.tablinks {
    color: aliceblue;
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
}

.social-panel {
    display: block;
    position: absolute;
    bottom: -60px !important;
    left: 50%;
    width: 360px;
    background: #2c3e50;
    padding: 5px;
    text-align: center;
    z-index: +4;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 5);
    transition: all 1s;
}

.social-panel-outer {
    display: block;
    position: relative;
    width: 100%;
    height: 0%;
}

.subheading {
    font-family: "Rubik";
    font-weight: 900;
    font-size: 18px;
    margin-left: -50px;
}

ul {
    list-style-type: circle;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.Skillbar {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    border: 1px solid black;
    outline-style: ridge;
    outline-color: #34495e;
}

.Skill {
    text-align: left;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    background: #34495e;
    border: 1px dashed black;
}

.Cpp {
    width: 85%;
}

.Python {
    width: 75%;
}

.Java {
    width: 40%;
}

.HTML {
    width: 80%;
}

.CSS {
    width: 70%;
}

.JavaScript {
    width: 40%;
}

.PHP {
    width: 30%;
}

.SQL {
    width: 60%;
}

.Illustrator {
    width: 80%;
}

.Photoshop {
    width: 85%;
}

.Blender {
    width: 85%;
}

.English {
    width: 95%;
}

.Hindi {
    width: 75%;
}

.French {
    width: 35%;
}

.Bengali {
    width: 30%;
}

img {
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 60px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../assets/orb.gif) center no-repeat #fff;
    background-color: black;
}

/*
@keyframes up {
0% {
opacity: 0;
}
10%, 90% {
opacity: 1;
}
100% {
opacity: 0;
transform: translateY(-1024px);
}
}

@keyframes wobble {
33% {
transform: translateX(-50px);
}
66% {
transform: translateX(50px);
} 
}

.bubbles-large > g {
opacity: 0;
will-change: transform, opacity;
}

.bubbles-large g:nth-of-type(1) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(1) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(2) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(2) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(3) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(3) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(4) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(4) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(5) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(5) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(6) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(6) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(7) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(7) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(8) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(8) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(9) {
animation: up 6.5s infinite; }

.bubbles-large g:nth-of-type(9) circle {
animation: wobble 3s infinite ease-in-out; }

.bubbles-large g:nth-of-type(10) {
animation: up 6.5s infinite; }

.bubbles-small g:nth-of-type(1) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(1) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(2) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(2) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(3) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(3) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(4) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(4) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(5) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(5) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(6) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(6) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(7) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(7) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(8) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(8) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(9) {
animation: up 6s 900ms infinite;}

.bubbles-small g:nth-of-type(9) circle {
animation: wobble 3s 275ms infinite ease-in-out; }

.bubbles-small g:nth-of-type(10) {
animation: up 6s 900ms infinite;}
*/