html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #333;
  align-items: right;
  font-display: swap;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  /* Addresses a small issue in webkit: https://bit.ly/NEdoDq */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
  font-weight: 500;
  color: #333;
  font-display: swap;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  text-align: justify;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #4ea5d9;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #d90368;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: flex;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

ul {
  list-style-type: circle;
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Loading Screen Wrap */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
}

/* Navigation Menu Wrap */
#navmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  background-color: #222222;
  position: fixed;
  padding: 0 !important;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

#navicon {
  width: 2em;
  border-radius: 50%;
}

.navbar-toggler {
  display: inline-block;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link {
  font-size: 18px;
  display: block;
  color: white !important;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white;
  color: #4ea5d9 !important;
}

.active {
  background-color: #4ea5d9;
  color: white;
}

/* Header Wrap */
.header {
  background: url(../assets/cocoa-beach-me.jpg) no-repeat center top;
  padding-top: 10vw;
  padding-bottom: 10vw;
  text-align: center;
  background-color: #222222 !important;
  background-attachment: relative;
  background-position: center center;
  min-height: 20vw;
  width: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header h3 a {
  color: #fff;
}

#heading-name {
  font-size: 100px;
  text-shadow: 2px 2px #000000;
  border-radius: 20px;
}

#heading-desc {
  font-size: 36px;
  text-shadow: 2px 2px #000000;
}

.subheading {
  font-family: "Rubik";
  font-weight: 900;
  font-size: 18px;
  font-display: swap;
}

/* Social Media Panel(s) Wrap */
.social-panel {
  display: block;
  position: absolute;
  bottom: -60px !important;
  left: 50%;
  width: 360px;
  background: #222222;
  padding: 5px;
  text-align: center;
  z-index: +4;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 5);
  transition: all 1s;
  border-radius: 20px;
}

.social-panel-outer {
  display: block;
  position: relative;
  width: 100%;
  height: 0%;
}

.social-icon {
  font-size: 72px;
}

.social-icon-2 {
  font-size: 36px;
  color: white;
}

/* Skills Panel Wrap */
.tab {
  overflow: hidden;
  background-color: inherit;
}

.tab button {
  background-color: #222222;
  float: center;
  border: solid;
  outline: none;
  cursor: pointer;
  padding: 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: white;
  color: #4ea5d9;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tablinks {
  color: aliceblue;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
}

.skill {
  border: 2px solid #222222;
  background: white;
  padding: 20px;
  display: inline-block;
  margin: 10px;
  border-radius: 25px;
}

.closeSkill {
  text-align: right;
}

/* Images Wrap (with media queries) */
@media (min-aspect-ratio: 4/3) {
  .footer-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: static;
  }

  .header-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: static;
  }
}

@media (max-aspect-ratio: 4/3) {
  .footer-img {
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    position: static;
  }

  .header-img {
    max-width: 35%;
    height: auto;
    padding: 15px;
    border-radius: 50%;
    position: static;
  }
}

/* About Wrap */
.about {
  background: #222222;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

#about {
  text-align: justify-all;
}

.about h5,
p {
  color: white;
}

td {
  color: white;
  padding-right: 20px;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: #222222;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #333;
}

.desc t {
  color: #222222;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #222222;
}

.desc more {
  color: #616669;
}

sm {
  font-size: 12px;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}

#resume {
  font-size: 120px;
}