@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
